.container {
  position: absolute;
  // z-index: 100;

  width: 100%;
  height: 100%;

  display: flex; 
  justify-content: center;
  align-items: center;

  background-color: #000A;

  top: 0;
}

.content {
  width: 15rem;
  height: 15rem;

  background-color: var(--tile-light);
  border-radius: .5rem;

  div {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

  }
}