.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.grid {
  display: grid;
  transform: rotate(calc(var(--rotation) * -1));  
}

.buttons {
  margin: 0 auto;
  margin: 1.5rem 0;
  display: flex;
  gap: .5rem;
  align-items: center;
}
.buttons button, .buttons span {
  font-size: 1.5rem;
}