.modal {
  position: absolute;
  top: -10px;
  min-width: 290px;
  width: 40vw;
  max-width: 550px;
  min-height: 400px;
  height: 65vh;
  max-height: 1200px;
  background-color: #000000D8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1.5rem;

  z-index: 100;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  img {
    margin-bottom: 1rem;
    height: 4rem;
    width: 4rem;
  }

  p {
    color: var(--body);
    width: 80%;
    margin-bottom: .5rem;
    font-size: .8rem;

    strong {
      font-style: italic;
    }
  }
}
