.header {
  margin: 1rem 0;
  max-width: 1200px;
  width: 90%;
}

@media (max-width: 1920px) {
  .header {
    max-width: 600px;
  }
}

@media (max-width: 1280px) {
  .header {
    max-width: 400px;
  }
}

.headerLine {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  button,
  span {
    font-size: 1.5rem;
  }

  .restartButton {
    background-color: transparent;
    cursor: pointer;

    border: 1px solid #eee;
    border-radius: 1rem;

    padding: 0 .5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #eee;
    font-weight: 700;
    font-size: 1.5rem;

    &:hover {
      border-color: var(--tile-light);
      z-index: 100;
    }
  }
}

.bombsLeft,
.timePassed {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 2.5rem;
  }

  strong {
    font-size: 1.75rem;
  }
}