.roundButton {
  background-color: transparent;
  cursor: pointer;

  border: 1px solid #EEE;
  border-radius: 50%;

  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #EEE;
  font-weight: 700;
  font-size: 1.5rem;

  position: relative;
  
  img {
    width: 70%;
  }

  &:hover {
    color: var(--tile-light);
    border-color: var(--tile-light);
    z-index: 100;
  }

}

.modal {
  position: absolute;
  top: -10px;
  min-width: 200px;
  width: 40vw;
  max-width: 600px;
  min-height: 500px;
  height: 60vh;
  max-height: 1200px;
  background-color: #000000D0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 1.5rem;

  z-index: 100;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  img {
    margin: 1rem 0;
    height: 4rem;
    width: 4rem;
  }

  p {
    color: var(--body);
    width: 80%;
    margin-bottom: 1rem;
    font-size: .8rem;

    strong {
      font-style: italic;
    }
  }

  div {
    pointer-events: all;
    height: 30%;
    width: 70%;
    max-height: 600px;
    display: grid;
    gap: 10% 15%;
    grid-template-columns: 1fr 1fr;

    button {
      background-color: var(--tile-light);
      color: var(--heading);
      border-radius: .5rem;
      border: none;

      font-size: 1.2rem;
    }
  }

}